 <div name="app" class="container text-center" ng-controller="QuesController as AppSum">

    <div class="row text-center">
      <span class="ng-cloak oper text-center"><span class="invisible">+</span>{{(AppSum.quesData.oper01/10)|limitTo:1}}{{AppSum.quesData.oper01%10}}</span>
    </div>
    <div class="row text-center">
      <span class="ng-cloak oper text-center">+{{(AppSum.quesData.oper02/10)|limitTo:1}}{{AppSum.quesData.oper02%10}}</span>
    </div>
    <hr> </hr>
    <!--  Totals row here-->
    <form name="answer" class="form" ng-keypress="($event.keyCode === 13) && AppSum.checkAns()" novalidate>

      <div class="form-inline form-group " ng-class="AppSum.vFeedBack">

        <!--         onkeypress='return event.charCode >= 48 && event.charCode <= 57' 
ng-keypress="AppSum.validateOnes($event)" -->
        <input name="tens" ng-cloak ng-model="AppSum.tens" ng-click="AppSum.tens=undefined" ng-keyup="(AppSum.tens.toString().length<=2) || (AppSum.tens=undefined)" type="number" class=" input-tens" tabindex=2 required/>

        <input name="ones" type="number" ng-class="AppSum.onesInvalid" ng-model="AppSum.ones" ng-keyup="(AppSum.ones.toString().length===1) || (AppSum.ones=undefined)" ng-cloak class="input-ones" tabindex="1" ng-click="AppSum.ones = undefined" autofocus required/>

      </div>
      <div class="row">
        <input name="checkAns" type="button" ng-keypress="($event.keyCode === 13) && AppSum.checkAns()" ng-click="AppSum.checkAns()" class="row btn btn-lg btn-primary center-block form-group" value="CHECK" />
      </div>

    </form>

    <div class="row">
      <div ng-show="AppSum.correct" class=" row text-success form-group comment center-block ng-cloak">
        {{AppSum.feedback}}
      </div>

      <div ng-show="!AppSum.correct" class="row text-info form-group comment-small center-block" ng-cloak>
        {{AppSum.feedback}}
      </div>

    </div>
    <div class="panel panel-primary">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <h3 class="panel-title">Attempts</h3> </div>
      <!--   <div class="panel-body">
    
  </div> -->

      <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item list-group-item-success" ng-repeat="ques in AppSum.attempts track by $index">

          <!--       {{$index+1}}  -->
          {{ques.oper01}} {{ques.oper}} {{ques.oper02}} = {{ques.ans}}
          <span class="badge">{{AppSum.attempts.length - $index}}</span>
        </li>

      </ul>
    </div>    
  </div>
  <!-- AppSum as QuesController -->
